.exhibit-container {
  border: 2px solid var(--accent);
  background: var(--white);
  padding: 12px;
  border-radius: 4px;
}

.exhibit-container ul {
  margin: auto;
}

.exhibit--information-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

