.header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 5;

  padding: 1em 0;
  margin-bottom: 1.3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: var(--white);
}

nav.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;

  scroll-target-group: auto;
}

a {
  text-decoration: none;
  color: var(--primary);
}
a:after {
  display: block;
  content: '';
  border-bottom: 2px var(--accent) solid;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
a:target-current:after {
  transform: scaleX(1);
}

a > h4 {
  margin: 5px 0;
}

@media (max-width: 520px) {
  header {
    position: sticky;
    top: 0;
    min-height: 1rem;
    margin-bottom: 0.8rem;
  }

  a.active-route:after {
    transform: scaleX(0);
  }

  a.active-route,
  a.active-route i {
    color: var(--accent);
  }
}
