.header {
  container-type: scroll-state;
  position: sticky;
  top: 10px;
  z-index: 5;
}

nav.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;

  background: var(--white);
  padding: 0.5em 0;

  transition:
    box-shadow 0.3s ease,
    box-shadow 0.3s ease,
    margin 0.3s ease-in-out,
    border-radius 0.3s ease;

  @container scroll-state(stuck: top) {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow-5);
    border-radius: 10px;
    margin-inline: 20px;
  }

  scroll-target-group: auto;

  a {
    text-decoration: none;
    color: var(--primary);
  }
  a:after {
    display: block;
    content: '';
    border-bottom: 2px var(--accent) solid;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  a:target-current:after {
    transform: scaleX(1);
  }

  a > h4 {
    margin: 5px 0;
  }
}

@media (max-width: 520px) {
  .header {
    position: sticky;
    top: 0;
    min-height: 1rem;
  }

  a.active-route:after {
    transform: scaleX(0);
  }

  a.active-route,
  a.active-route i {
    color: var(--accent);
  }
}
