<div class="header-wrapper">
  <header>
    <a
      routerLink="/"
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <h4 class="desktop">J.</h4>
      <i class="mobile fa-solid fa-house fa-xl"></i>
    </a>
    <a routerLink="/exposities" routerLinkActive="active-route">
      <h4 class="desktop">exposities</h4>
      <i class="mobile fa-solid fa-landmark fa-xl"></i>
    </a>
    <a routerLink="/werken" routerLinkActive="active-route">
      <h4 class="desktop">werk</h4>
      <i class="mobile fa-regular fa-images fa-xl icon"></i>
    </a>
  </header>
</div>
