#paintings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  padding: 0 max(30px, 15%);
}

img.painting {
  width: 13rem;
  height: 13rem;
  object-fit: cover;

  border-radius: 4px;
  filter: grayscale(90%);
}

.painting:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.painting-full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  padding: 2rem;
  background-color: rgb(from var(--tertiary) r g b / 0.5);
  display: none;

  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.visible {
  display: flex;
}

img.painting-full-screen {
  opacity: 1;
}
