#paintings-container {
}

.carousel {
  width: 90vw;
  height: 300px;
  padding: 20px;
  display: flex;
  gap: 4vw;

  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  animation-timeline: view(x);

  scroll-marker-group: after;
  anchor-name: --carousel;
}

.carousel::scroll-marker-group {
  position: absolute;
  top: calc(anchor(bottom) - 70px);
  justify-self: anchor-center;

  display: flex;
  justify-content: center;
  gap: 20px;

  scroll-snap-align: start;
  position-anchor: --carousel;
}

.painting-container {
  padding: 20px;

  flex: 0 0 70%;
  scroll-snap-align: center;

  display: flex;
  justify-content: center;
  gap: 1em;
}

.painting-container::scroll-marker {
  content: attr(data-accName);
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 50%;
  overflow: hidden;
  text-indent: 12px;
}

.painting-container::scroll-marker:target-current {
  background-color: var(--primary);
}

img.painting {
  width: 13rem;
  height: 13rem;
  object-fit: cover;

  border-radius: 4px;
  filter: grayscale(90%);

  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      animation: fancy-in linear both;
      animation-timeline: view(x);
    }
  }
}
@keyframes fancy-in {
  0% {
    transform: translateX(25vw);
  }
  20%,
  80% {
    opacity: 1;
    transform: none;
  }
  100% {
    transform: translateX(90%) scale(0.8);
    opacity: 0;
  }
}

.painting:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.painting-full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  padding: 2rem;
  display: none;
  background-color: rgb(from var(--secondary) r g b / 0.8);

  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.visible {
  display: flex;
}

.painting-full-screen-wrapper {
  margin: 1rem;
  padding: 5rem;
  background-color: var(--white);
}

img.painting-full-screen {
  max-width: calc(100vw - 5rem);
  opacity: 1;
  max-width: 80vw;
  max-height: 65vh;
}

.painting-full-screen-wrapper p {
  color: var(--secondary);
}

/* mobile styles */
@media (max-width: 768px) {
  img.painting {
    width: 10rem;
    height: 10rem;
  }

  .painting-full-screen-wrapper {
    padding: 2rem;
  }

  img.painting-full-screen {
    max-width: calc(100vw - 2rem);
  }
}

@media (max-width: 520px) {
  #paintings-container {
    padding: 0 max(20px, 10%);
  }
}
