#paintings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  padding: 0 max(30px, 15%);
}

img.painting {
  width: 13rem;
  height: 13rem;
  object-fit: cover;

  border-radius: 4px;
  filter: grayscale(90%);
}

.painting:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

.painting-full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  padding: 2rem;
  display: none;
  background-color: rgb(from var(--secondary) r g b / 0.8);

  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.visible {
  display: flex;
}

.painting-full-screen-wrapper {
  margin: 1rem;
  padding: 5rem;
  background-color: var(--white);
}

img.painting-full-screen {
  max-width: calc(100vw - 5rem);
  opacity: 1;
  max-width: 80vw;
  max-height: 65vh;
}

.painting-full-screen-wrapper p {
  color: var(--secondary);
}

@media (max-width: 768px) {
  img.painting {
    width: 10rem;
    height: 10rem;
  }

  .painting-full-screen-wrapper {
    padding: 2rem;
  }

  img.painting-full-screen {
    max-width: calc(100vw - 2rem);
  }
}

@media (max-width: 520px) {
  #paintings-container {
    padding: 0 max(20px, 10%);
  }
}
