.exhibits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;

  width: 100%;

  padding: 0 max(30px, 15%);
}
@media (max-width: 520px) {
  .exhibits-container {
    padding: 0;
  }
}
