#nieuws {
  --animation-time: 0.3s;

  display: grid;
  grid-template-columns: 1fr 2fr;

  width: 100vw;
  min-height: 20vh;
  background-color: var(--tertiary);
}

.title-container {
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  h2 {
    margin: 0.5em auto;
  }
}

.news-items {
  grid-column: 2 / 3;
  max-width: max(90vw, 500px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  .inactive {
    .news-item-body {
      grid-template-rows: 0fr;
    }

    .news-item-image {
      opacity: 0;
      pointer-events: none;
    }
  }

  .active {
    .news-item-body {
      grid-template-rows: 1fr;
    }

    .news-item-image {
      opacity: 1;
    }
  }
}

.news-item {
  position: relative;

  border-bottom: 1px solid black;
  padding: 0.5em;
}

.news-item-content {
  width: 50%;

  h3 {
    margin-bottom: 0.5em;
  }
}

.news-item-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--animation-time) ease;
}

.news-item-body-content {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.news-item:nth-last-of-type(1) {
  border-bottom: none;
}

.news-item-image {
  position: absolute;
  top: 0.5em;
  right: 0;
  bottom: 0.5em;
  width: 50%;
  padding-right: 0.5em;
  box-sizing: border-box;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  transition: opacity var(--animation-time) ease;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

/* mobile styles */
@media (max-width: 768px) {
  #nieuws {
    grid-template-columns: 1fr;
  }

  .news-items {
    padding: 0 1.5em;
    grid-column: 1 / 2;
    max-width: 100%;
  }

}
