#nieuws {
  --animation-time: 0.3s;
}

.news-items {
  grid-column: 2 / 3;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  .inactive {
    .news-item-body {
      grid-template-rows: 0fr;
    }

    .news-item-image {
      opacity: 0;
      pointer-events: none;
    }
  }

  .active {
    .news-item-body {
      grid-template-rows: 1fr;
    }

    .news-item-image {
      opacity: 1;
    }
  }
}

.news-item {
  position: relative;
  padding: 0.5em;
}

.news-item::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 80%;
  height: 1px;
  background: black;
}

.news-item-content {
  width: 50%;

  h3 {
    margin-bottom: 0.5em;
  }
}

.news-item-body {
  display: grid;
  grid-template-rows: auto;
  transition: grid-template-rows var(--animation-time) ease;
}

.news-item-body-content {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.news-item:nth-last-of-type(1) {
  &::after {
    display: none;
  }
}

.news-item-image {
  position: absolute;
  top: 0.5em;
  right: 0;
  bottom: 0.5em;
  width: 50%;
  padding-right: 0.5em;
  box-sizing: border-box;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  transition: opacity var(--animation-time) ease;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

/* mobile styles */
@media (max-width: 768px) {
  .news-items {
    padding: 0 1.5em;
    grid-column: 1 / 2;
    justify-self: center;
    max-width: 100%;
  }

  .news-item-content {
    width: 100%;
  }

  .news-item-image {
    display: none;
  }
}
