/* // FONTS & TYPOGRAPHY \\ */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
  font-style: normal;
}

* {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* // VARIABLES \\ */
:root {
  /* colors */
  --primary: #4f4f4f;
  --secondary: #828282;
  --tertiary: #DDDAD0;
  --accent: #F8F3CE;
  --white: #fffffe;
}

/* // GENERAL STYLING \\ */
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  background: var(--white);
}
h1 {
  font-size: 6em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: auto;
}

.main-wrapper {
  width: 100%;

  content: '';

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
