/* // FONTS & TYPOGRAPHY \\ */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoSerif.woff2');
  font-style: normal;
}

* {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

/* // VARIABLES \\ */
:root {
  /* colors */
  --primary: #4f4f4f;
  --secondary: #828282;
  --tertiary: #dddad0;
  --accent: #ffb22c;
  --white: #fffffe;
  --off-white: #fffef9;
  --black: #131313;

  /* screens */
  --mobile: 480px;
}

/* // GENERAL STYLING \\ */
html,
body,
app-root {
  margin: 0;
  width: 100%;
  overflow-x: hidden;

  background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: auto;
}

p {
  color: var(--secondary);
}

h1 {
  font-size: 6rem;
  color: var(--black);
}
h2 {
  font-size: 3rem;
  color: var(--primary);
}
h3 {
  font-size: 1.3rem;
  color: var(--primary);
}
h4 {
  font-size: 1.6rem;
  color: var(--primary);
}
h5 {
  font-size: 1.1rem;
  color: var(--secondary);
}
h6 {
  font-size: 0.7rem;
  color: var(--secondary);
}
@media (max-width: 520px) {
  p {
    font-size: 0.7rem;
  }
}

/* // MOBILE STYLES \\ */
.mobile {
  display: none;
}

@media (max-width: 520px) {
  h1 {
    font-size: 4rem;
    color: var(--black);
  }
  h2 {
    font-size: 2rem;
    color: var(--primary);
  }
  h3 {
    font-size: 1rem;
    color: var(--primary);
  }
  h4 {
    font-size: 1.6rem;
    color: var(--primary);
  }
  h5 {
    font-size: 1.1rem;
    color: var(--secondary);
  }
  h6 {
    font-size: 0.7rem;
    color: var(--secondary);
  }
  @media (max-width: 520px) {
    p {
      font-size: 0.7rem;
    }
  }

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
