#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: linear-gradient(
    110deg,
    color-mix(in srgb, var(--accent-2) 30%, white) 0%,
    var(--accent-2) 100%
  );

  width: calc(100% - 2rem);
  height: calc(100vh - 2rem);
  padding: 1rem;

  h1 {
    align-self: stretch;
    margin: 0;
    padding-left: 1rem;
    box-sizing: border-box;
    text-align: left;
  }

  img {
    z-index: 1;
    max-width: 100%;
    flex-grow: 1;
  }

  h2,
  h3 {
    align-self: stretch;
    margin: 0;
    padding-right: 1rem;
    box-sizing: border-box;
    text-align: right;
  }

  h3 {
    padding: 1em;
  }
}

.home-container > * {
  background-color: var(--white);
}
